@{
    ViewData["Title"] = "About";
}

<h2>Программа имитационного моделирования удовлетворенности пассажиров транспортными услугами с помощью различных математических подходов в системах с разделенными интересами.</h2>

<p>Программа позволяет создать систему пассажиров с конфигурируемыми начальными параметрами, задать придаточную функцию выбора транспорта для пассажиров и пронаблюдать поведение как конкретного пассажира, так и всей системы в целом в зависимости от начальных условий системы и произошедших взаимодействий.</p>
