@using Newtonsoft.Json
@model Passenger[][]

@{
    ViewBag.Title = "title";
    Layout = "_NewLayout";
}

<script>
    function sleep(ms) {
        ms += new Date().getTime();
        while (new Date() < ms) {
        }
    }

    var firstStep = true;
    var lastPassengers = null;

    function getNextStep(form) {
        var count = form.count.value;
        var delay = form.delay.value * 1000;
        @{
            var jsonPassengers = JsonConvert.SerializeObject(Model).Replace("\"", "");
        }
        if (firstStep) {
            getAjaxRequest(count, delay, { passengers: @jsonPassengers });
            firstStep = false;
        } else {
            getAjaxRequest(count, delay, lastPassengers);
        }

    };

    function getAjaxRequest(count, delay, newData) {
        if (count <= 0) {
            return;
        }
        count--;
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetNextStepPassengers")',
            data: newData,
            success: function(data) {
                sleep(delay);
                lastPassengers = { passengers: data.passengers };
                getNextView(lastPassengers);
                getAjaxRequest(count, delay, lastPassengers);
            }
        });
    }

    function getNextView(passengers) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetNextStepPartialView")',
            data: passengers,
            success: function(data) {
                $('#passengers').html(data);
            }
        });
    };
</script>

<div class="center">
    <h2>Текущий ход</h2>

    <form onsubmit="return false">
        <p>
            Число повторений: <input type="number" name="count" value="5" step="1" min="1" max="10" />
        </p>
        <p>
            Время задержки в секундах: <input type="number" name="delay" value="1" step="0.1" min="0" max="5" />
        </p>

        <input class="btn btn-success" type="button" onclick="getNextStep(this.form)" value="Запустить">
    </form>

    <div id="passengers">@Html.Partial("GetNextStepPartialView", Model)</div>

</div>